

ul {
    display: flex; 
    flex-wrap: wrap;
    }
    
    .li2 {
        height: 40vh;
        flex-grow: 1;
    }
    
    img  {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
    }
    
    @media (max-aspect-ration: 1/1){
        .li2 {
            height: 80vh;
        }
    }
    @media (max-height: 480px){
        .li2 {
            height: 80vh;
        }
    }
    
    
    @media (max-aspect-ratio: 1/1) and (max-width: 480px){
        ul {
            flex-direction: row;
        }
        .li2 {
            height: auto;
        }
        img {
            width: 100%;
            max-height: 75vh;
            min-height: 0;
        }
    }
    
    
    #goat {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #9932CC;
    
    }

    




    /* testimonials */ 
    body {
        background-color: #333;
        background-image: radial-gradient(#45a5dd 12%, transparent 20%),
        radial-gradient(#00FFFF 18%, transparent 20%);
        background-position: 0 0, 40vh 40vh;
        background-size: 45px 44px;
        width: 100%;
        height: 100%;
        
    }
    
    .box-area2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        background-image: linear-gradient(
            to right bottom, 
            #6fc1d557,
            #28b48500 ),
            url(./images/phone.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        height: 80vh;
    }
    
    .single-box2 {
        position: relative;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        max-height: 600px;
        border-radius: 4px;
        background: linear-gradient(to top,	#9932cc50 5%, #f0ffffbd  30%);
        text-align: center ;
        margin: 20px;
        padding: 20px;
        transition: .3s;
        border-style: solid;
        color: #000000;
    }
    .img-area2{
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 80px;
        height: 80px;
        border: 6px solid #9932CC;
        border-radius: 50%; /* circle square or other */
        margin-bottom: 10px;
        padding: 20px;
        background-size: cover;
        background-position: center center;
    }
    
    
    @media only screen and (max-width: 768px){
        .box-area2 {
            flex-direction: column;
            width: 100%;
            height: auto;
            margin: 0;
            max-width: 100%;
        }
    
        .single-box2 {
            max-height: fit-content;
        }
    }
    @media only screen and (max-width: 1024px){
        .box-area2 {
            flex-direction: column;
            width: 100%;
            height: auto;
        }
    }
    
    .single-box2:nth-child(3) .img-area2{
        background-image: url(./images/hipcamps\ v\ logo.png);
        
    }
    
    .single-box2:nth-child(1) .img-area2{
        background-image: url(./images/review\ mid.jpg);
        
    }
    
    .single-box2:nth-child(2) .img-area2{
        background-image: url(./images/profile\ pic\ shawnit\ b\ .JPG);
        
    }
    
    .header-text2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 50px;
    }
    
    .img-text2 {
        font-family:Poppins;
        padding-top: 15px;
    }
    
    .img-text2 p{
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
    }
    
    .single-box2:hover{
        background-image: radial-gradient(#50a2d4 12%, transparent 20%),
        radial-gradient(#00FFFF 18%, transparent 20%);
        background-position: 0 0, 40vh 40vh;
        background-size: 45px 44px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: #9932CC;
        font-weight: bolder;
    }
    