@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}



.wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}


.contact-form {
    max-width: 550px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.13);


}
.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.input-fields,
.msg{
    width: 48%;
}

.input-fields .input,

.msg textarea{
    margin: 10px 0;
    background: transparent;
    border:0 ;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}
.msg textarea{
    height: 212px;
    
}
.msg input {
    height: 150px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 2px solid white;
}

::-webkit-input-placeholder{
    color: #c5ecfd; 
}

::-moz-input-placeholder{
    color: #c5ecfd; 
}
::-ms-input-placeholder{
    color: #c5ecfd; 
}
.btn{
    background: #38b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width:610px) {
    .contact-form{
        flex-direction: column;
    }
    .msg textarea{
        height: 80px;
    }
    .input-fields,
    .msg{
        width: 90%;
    }

}
/*? Contact */


.contact-head h1 {
background-color: #ff8177;
background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 42%, #cf556c 68%, #b12a5b 100% );
background-size: 100%;
margin-bottom: 5rem;
font-size: 3.5rem;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
text-align: center;
}
