*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    background-color: black;
}
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem;
}
.head-container {
    padding: 0px 50px;
}

@media screen and (max-width: 560px) {
.head-container {
    padding: 0;
}
}




.header {
    height: 95vh;
    max-width: 1500px;
    margin: 0 auto;
    background-image: linear-gradient(to right bottom, rgba(92, 114, 238, 0.397), rgba(40, 180, 133, 0.527)), url('../img/bridge.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 1%, 100% 89%, 0% 100%);
}

.header__text-box {
    /* This is resuable af */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}
.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}
@media screen and (max-width: 380px) {
.heading-primary--main {
    font-size: 3rem;
}
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


/*? Buttons */
.services__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1.3rem;
    cursor: pointer;
}
.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
.main__btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffffff;
    transition: all 0.35s;
    border-radius: 4px;
}
.main__btn:hover {
    color: #fff'
}
.main__btn:hover::after {
    width: 100%;
}
.services__card h2 {
    font-size: 2rem;
}
.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
    font-size: 1.5rem;
}

/*?End button */


/* side by side services */
/*? hold cards */
.services {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0 50px;
    max-width: 1500px;
    margin: 0 auto;
}
@media screen and (max-width: 560px) {
    .services {
        padding: 0;
    }
    }
    @media screen and (min-width: 1700px) {
        .services {
            display: flex;
            width: 1500px;
            margin: 0 auto !important;
            padding: 0 !important;
        }
        .services__card {
            width: 700px !important;
            margin: 0 !important;
        }
        #left__card {
            margin-right: 48px !important;
        }
        #right__card {
            margin-left: 48px !important;
        }
    }
    @media only screen and (max-width: 1699px) and (min-width: 1084px) {
        .services__container {
            width: 100%;
            max-height: 526px;
        }
        .services__card {
            width: 49% !important;
            margin: 0 auto !important;
        }
    }

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100% );
background-size: 100%;
margin-bottom: 5rem;
font-size: 3.5rem;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent
}
.services__card {
    margin: 3rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,0.6) 100%), url('img/pinktree2.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
    border: 1px solid rgb(0, 0, 0);
}

.services__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,0.6) 100%), url('img/pinktree1.jpg');

}


.services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}
@media screen and (max-width: 960px) {
    .services__card {
        height: 500px;
    }
    .services h1 {
        font-size: 3rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .services h1 {
        font-size: 2rem;
    text-align: center;
    }

    .services__card {
        width: 300px;
    }
}
@media screen and (max-width: 350px) {
    .services__card {
        width: 200px;
    }
    .services__card p {
        font-size: 1.1rem;
    }
}
/*? End hold card */
/*? Contact */


#page-container {
    position: relative;
    min-height: 100vh;
}